@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post,
        new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-right">
            <li class="nav-item text-white ">
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index",
                    "Manage", routeValues: null,
                    htmlAttributes: new { title = "Manage", @class = "text-white nav-link " })
            </li>
            <li li class="nav-item text-white ">
                <a class="text-white nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Register", "Register", "Account",
            routeValues: null, htmlAttributes: new { id = "registerLink", @class = "text-white nav-link " })
        </li>
        <li>
            @Html.ActionLink("Log in", "Login", "Account", routeValues: null,
            htmlAttributes: new { id = "loginLink", @class = "text-white nav-link " })
        </li>
    </ul>
}

